<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kevin.building">

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />


    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">

        <activity
            android:name=".ui.activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/main_page"></activity>

        <!--ViewPagerDemo-->
        <activity
            android:name=".ui.demo.viewpager.ViewPagerDemoActivity"

            android:label="ViewPagerDemo" />
        <!--widget控件demos-->
        <activity
            android:name=".ui.demo.widget.dialog.DialogActivity"

            android:label="弹窗" />

        <!--WebView demos-->
        <activity
            android:name=".ui.demo.WebviewActivity"

            android:label="WebView" />

        <!--拖拽按钮demo-->
        <activity
            android:name=".ui.demo.widget.draggridview.DragGridViewActivity"

            android:label="@string/drag_gridveiw_demo" />

        <activity
            android:name=".ui.demo.widget.searchbar.SearchActivity"

            android:label="@string/search_demo" />

        <activity
            android:name=".ui.demo.widget.WidgetMainActivity"
            android:label="@string/ui_demo"
            android:theme="@android:style/Theme.NoTitleBar" />


        <!--网络相关demo-->
        <activity
            android:name=".ui.demo.networkdemo.NetworkActivity"
            android:label="@string/network" />

        <activity
            android:name=".ui.demo.fragmentdemo.MyFragmentActivity"
            android:label="@string/fragment" />
        <activity
            android:name=".ui.demo.dbtest.DatabaseActivity"
            android:label="@string/database" />

        <!--启动模式测试-->

        <activity
            android:name=".ui.demo.launchmode.LaunchModeActivity1"

            android:label="@string/launch_mode" />
        <activity
            android:name=".ui.demo.launchmode.LaunchModeActivity2"
            android:label="@string/launch_mode"
            android:launchMode="singleInstance" />


        <activity
            android:name=".ui.demo.launchmode.LaunchModeActivity3"
            android:label="@string/launch_mode" />


        <activity
            android:name=".ui.demo.launchmode.LaunchModeActivity4"
            android:label="@string/launch_mode"
            android:launchMode="standard" />

        <!--应用界面demo-->

        <activity
            android:name=".ui.activity.LoginActivity"
            android:label="@string/login"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".ui.activity.AddFriendActivity"
            android:label="@string/addcontacts" />
        <activity
            android:name=".ui.activity.UserListActivity"
            android:label="@string/user_list" />
        <activity
            android:name=".ui.activity.RegistActivity"
            android:label="@string/register" />
        <activity
            android:name=".ui.activity.UserInfoActivity"
            android:label="@string/user_info" />
        <activity
            android:name=".ui.activity.LogoutActivity"
            android:label="@string/logout" />




    </application>

</manifest>
