<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kevin.building">

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />


    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">

        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/main_page"></activity>
        <activity
            android:name=".NewMainActivity"
            android:label="@string/main_page"></activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/login"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity
            android:name=".activity.UIMainActivity"
            android:label="@string/ui_demo"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity
            android:name=".activity.MyFragmentActivity"
            android:label="@string/fragment"></activity>
        <activity
            android:name=".activity.DatabaseActivity"
            android:label="@string/database"></activity>
        <activity
            android:name=".activity.AddFriendActivity"
            android:label="@string/addcontacts"></activity>
        <activity
            android:name="com.kevin.building.activity.UserListActivity"
            android:label="@string/user_list"></activity>
        <activity
            android:name=".activity.RegistActivity"
            android:label="@string/register"></activity>
        <activity
            android:name=".activity.UserInfoActivity"
            android:label="@string/user_info"></activity>
        <activity
            android:name=".activity.LogoutActivity"
            android:label="@string/logout"></activity>
        <activity
            android:name=".demo.draggridview.DragGridViewActivity"

            android:label="@string/drag_gridveiw_demo"></activity>

        <activity
            android:name=".activity.SearchActivity"

            android:label="@string/search_demo"></activity>

        <activity
            android:name=".demo.launchmode.LaunchModeActivity1"

            android:label="@string/launch_mode"></activity>
        <activity
            android:name=".demo.launchmode.LaunchModeActivity2"
            android:label="@string/launch_mode"
            android:launchMode="singleInstance">


        </activity>
        <activity
            android:name=".demo.launchmode.LaunchModeActivity3"
            android:label="@string/launch_mode">

        </activity>
        <activity
            android:name=".demo.launchmode.LaunchModeActivity4"
            android:label="@string/launch_mode"
            android:launchMode="standard">

        </activity>
    </application>

</manifest>
