<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bailiangjin.demo">

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <application
        android:name="com.bailiangjin.demo.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">

        <activity android:name="com.bailiangjin.demo.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.bailiangjin.demo.MainActivity"
            android:label="@string/main_page"></activity>

        <!--DetailActivity-->
        <activity
            android:name="com.bailiangjin.demo.demo.dynamic.DetailActivity"

            android:label="DetailActivity" />
        <!--FragmentAdapterDemos-->
        <activity
            android:name="com.bailiangjin.demo.demo.fragmentdemo.FragmentAdapterDemos"

            android:label="FragmentAdapterDemos" />
        <!--DynamicPageActivity-->
        <activity
            android:name="com.bailiangjin.demo.demo.dynamic.DynamicPageActivity"

            android:label="DynamicPageActivity" />

        <!--ViewPagerDemo-->
        <activity
            android:name="com.bailiangjin.demo.demo.viewpager.ViewPagerDemoActivity"

            android:label="ViewPagerDemo" />
        <!--widget控件demos-->
        <activity
            android:name="com.bailiangjin.demo.demo.widget.dialog.DialogActivity"

            android:label="弹窗" />

        <!--WebView demos-->
        <activity
            android:name="com.bailiangjin.demo.demo.WebViewActivity"

            android:label="WebView" />
        <activity
            android:name=".demo.X5WebViewActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:label="X5WebViewActivity" />

        <!--拖拽按钮demo-->
        <activity
            android:name="com.bailiangjin.demo.demo.widget.draggridview.DragGridViewActivity"

            android:label="@string/drag_gridveiw_demo" />

        <activity
            android:name="com.bailiangjin.demo.demo.widget.searchbar.SearchActivity"

            android:label="@string/search_demo" />

        <activity
            android:name="com.bailiangjin.demo.demo.widget.WidgetMainActivity"
            android:label="@string/ui_demo"
             />


        <!--网络相关demo-->
        <activity
            android:name="com.bailiangjin.demo.demo.networkdemo.NetworkActivity"
            android:label="@string/network" />

        <activity
            android:name="com.bailiangjin.demo.demo.fragmentdemo.MyFragmentActivity"
            android:label="@string/fragment" />
        <activity
            android:name="com.bailiangjin.demo.demo.dbtest.DatabaseActivity"
            android:label="@string/database" />

        <!--启动模式测试-->

        <activity
            android:name="com.bailiangjin.demo.demo.launchmode.LaunchModeActivity1"

            android:label="@string/launch_mode" />
        <activity
            android:name="com.bailiangjin.demo.demo.launchmode.LaunchModeActivity2"
            android:label="@string/launch_mode"
            android:launchMode="singleInstance" />


        <activity
            android:name="com.bailiangjin.demo.demo.launchmode.LaunchModeActivity3"
            android:label="@string/launch_mode" />


        <activity
            android:name="com.bailiangjin.demo.demo.launchmode.LaunchModeActivity4"
            android:label="@string/launch_mode"
            android:launchMode="standard" />

        <activity
            android:name="com.bailiangjin.demo.demo.keylistener.KeyListenerActivity"
            android:label="按键监听"
            android:launchMode="standard" />
        <activity
        android:name="com.bailiangjin.demo.demo.switchnetworkstate.SwitchNetWorkStateActivity"
        android:label="网络状态"
        android:launchMode="standard" />

        <activity
            android:name="com.bailiangjin.demo.demo.filelistener.FileListenerActivity"
            android:label="文件监听"
            android:launchMode="standard" />

        <activity
            android:name="com.bailiangjin.demo.activity.TestActivity"
            android:label="公用测试"
            android:launchMode="standard" />


        <activity
            android:name="com.bailiangjin.demo.demo.ImageLoadActivity"
            android:label="ImageLoadActivity"
            />

        <activity
            android:name="com.bailiangjin.demo.activity.TestDeviceActivity"
            android:label="TestDeviceActivity"
            />
        <!--应用界面demo-->

        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data android:name="QBSDKAppKey" android:value="0n9lyL29YCv7mdlQ8jlSexUG"> </meta-data>


    </application>

</manifest>
