<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bailiangjin.simpleim">

    <application
        android:name=".IMApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" />

        <!--应用系统界面-->
        <activity
            android:name=".module.common.AboutActivity"
            android:label="@string/about" />
        <activity
            android:name=".module.common.SettingActivity"
            android:label="@string/setting" />

        <!--应用账户相关界面-->

        <activity
            android:name=".module.account.RegisterActivity"
            android:label="@string/register" />
        <activity
            android:name=".module.account.LoginActivity"
            android:label="@string/login" />

        <activity
            android:name=".module.account.LogoutActivity"
            android:label="@string/logout" />



        <!--联系人相关页面-->

        <activity
            android:name=".module.im.user.AddFriendActivity"
            android:label="@string/addcontacts" />
        <activity
            android:name=".module.im.user.UserListActivity"
            android:label="@string/user_list" />

        <activity
            android:name=".module.account.UserInfoActivity"
            android:label="@string/user_info" />

        <!--IM 相关界面-->

        <activity
            android:name=".module.im.chat.ChatActivity"
            android:label="会话" />


        <!--简信-->

        <activity
            android:name=".sdk.leancloud.LcLoginActivity"
            android:label="@string/app_name" >
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity android:name=".sdk.leancloud.LcMainActivity"
            android:theme="@style/LCIMActivity.NoActionBar"/>

    </application>

</manifest>