<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bailiangjin.simpleim">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon"
        android:name=".app.MyApplication">
        <activity android:name=".appui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".appui.MainActivity"/>

        <!--应用界面demo-->

        <activity
            android:name=".appui.account.LoginActivity"
            android:label="@string/login"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".appui.account.AddFriendActivity"
            android:label="@string/addcontacts" />
        <activity
            android:name=".appui.account.UserListActivity"
            android:label="@string/user_list" />
        <activity
            android:name=".appui.account.RegistActivity"
            android:label="@string/register" />
        <activity
            android:name=".appui.account.UserInfoActivity"
            android:label="@string/user_info" />
        <activity
            android:name=".appui.account.LogoutActivity"
            android:label="@string/logout" />
    </application>

</manifest>